body {
    margin: 0;
    padding-left: 0.5em;
    padding-right: 0.5em;

    background-color: #FAFAFA;

    font-family: Helvetica, Trebuchet MS, Arial, sans-serif;
}

form input {
    width: 70%;
}

.contentRoot div {
    flex: 33%;
}

.contentRoot {
    max-width: 1200px;
    width: 100%;
    margin: auto;

    background-color: lightgray;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

.contentHeader {
    display: flex;
    flex: auto;
    flex-direction: row;

    border-color: rgba(0, 0, 0, 0.79);
    border-bottom: 3px solid;

    padding-left: 1em;
    padding-top: 1em;
}

.trackListContainer {
    display: inherit;

    margin-left: 1em;
    margin-right: 1em;

    padding-bottom: 1em;
}

/*Upload Section*/
.trackListUploadSection {
    display: flex;
    flex-direction: column;

    border-color: rgba(0, 0, 0, 0.79);
    border-bottom: 2px solid;

    padding-bottom: 1em;
    padding-top: 1em;

    margin-left: 0.5em;
    margin-right: 0.5em;
}

.trackListUploadErrorContainer {

    padding-top: 1em;

    margin-left: 1em;
    margin-right: 1em;
}

.trackListUploadContainer {
    display: flex;
    flex-direction: row;
}

.trackListUploadContainer input {

}

.trackListUploadButtonContainer {
    display: flex;
    flex-direction: row;
}

.trackListUploadButtonFile {
    flex: 80% !important;
}

.trackListUploadButtonSubmit {
    flex: 20% !important;
}

/*Track List Content*/
.trackListContent {
    border-color: rgba(0, 0, 0, 0.79);

    margin-left: 1em;
    margin-right: 1em;
}

.trackListContent .track {
    display: flex;
    flex-direction: row;
}

.track {
    border-color: rgba(0, 0, 0, 0.79);
    border-bottom: 1px solid;

    padding-bottom: 1em;
    padding-top: 1em;
}

.trackArtist {
    padding-left: 0.5em;
}

.trackActions {
    display: inherit;
    flex-direction: row-reverse;
    padding-right: 1em;
}

.trackActions .fa {
    margin-left: 1em;
}

/*Edit page specific*/
.editAction {
    padding-top: 1em;
}

/*Delete page specific*/
.deleteAction {
    padding-top: 1em;
}

.deleteAction .delete {
    display: inherit;
    flex-direction: row;
}