<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/headTemplateBase :: head">
    <title>Title</title>
</head>
<body>
<div class="contentRoot">
    <form action="#" th:action="@{/edit/{id}(id=${track.id})}" th:object="${track}" method="post">
        <div>
            <h2>Title</h2>
            <input name="name" th:field="*{name}"/>
        </div>
        <div>
            <h2>Artist</h2>
            <input name="name" th:field="*{artist}"/>
        </div>
        <div>
            <button type="submit" name="updateData">Update</button>
        </div>
    </form>
</div>
</body>
</html>