<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/headTemplateBase :: head">
    <title>Title</title>
</head>
<body>
<div class="contentRoot">
    <div class="contentHeader">
        <h1>Edit details of "<a th:text="${track.name}"/>"</h1>
    </div>
    <form class="trackListContainer" action="#" th:action="@{/edit/{id}(id=${track.id})}" th:object="${track}" method="post">
        <div class="editAction">
            <h3>Title</h3>
            <input name="name" th:field="*{name}"/>
        </div>
        <div class="editAction">
            <h3>Artist</h3>
            <input name="name" th:field="*{artist}"/>
        </div>
        <div class="editAction">
            <button type="submit" name="updateData">Update</button>
        </div>
    </form>
</div>
</body>
</html>