<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head th:include="fragments/headTemplateBase :: head">
    <title>iMine Radio</title>
</head>
<body>

<div class="contentRoot">
    <div class="trackListHeaderSection">
        <div class="trackListContainer">
            <div>
                <b>Artist</b>
            </div>
            <div>
                <b>Name</b>
            </div>
            <div>
                <b>Actions</b>
            </div>
        </div>
    </div>
    <form method="POST" class="trackListUploadSection" enctype="multipart/form-data">
        <div class="trackListContainer">
            <div>
                <input name="artist"/>
            </div>
            <div>
                <input name="name"/>
            </div>
            <div class="trackListUploadButtonContainer">
                <div class="trackListUploadButtonFile">
                    <input name="file" type="file" />
                </div>
                <div class="trackListUploadButtonSubmit">
                    <button formaction="/">Upload</button>
                </div>
            </div>
        </div>
        <div th:if="${uploadStatus}" class="trackListUploadErrorContainer">
            <a th:text="${uploadStatus}"/>
        </div>
    </form>
    <div class="trackListContent">
        <div class="track" th:each="track : ${tracks}">
            <div class="trackArtist">
                <a th:text="${track.artist}"/>
            </div>
            <div class="trackName">
                <a th:text="${track.name}"/>
            </div>
            <div class="trackActions">
                <i class="fa fa-lg fa-trash"></i>
                <i class="fa fa-lg fa-edit"></i>
                <a th:href="@{/radio/{id}/download(id=${track.id})}"><i class="fa fa-lg fa-download"></i></a>
            </div>
        </div>
    </div>
</div>
</body>
</html>