<!DOCTYPE html>
<html lang="en" style="height: 100%" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>iMine Radio</title>
    <meta name="viewport" content="width=device-width">
    <!--MaterializeCSS-->
    <!--<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/css/materialize.min.css">-->
    <link rel="stylesheet" href="/css/custom.css" />
    <link rel="stylesheet" href="/css/font-awesome.min.css" />
    <!--<script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.98.1/js/materialize.min.js"></script>-->
</head>
<body>

<div class="trackList">
    <div class="trackListHeaderSection">
        <div class="trackListContainer">
            <div>
                <b>Artist</b>
            </div>
            <div>
                <b>Name</b>
            </div>
            <div>
                <b>Actions</b>
            </div>
        </div>
    </div>
    <form method="POST" class="trackListUploadSection" enctype="multipart/form-data">
        <div class="trackListContainer">
            <div>
                <input name="artist"/>
            </div>
            <div>
                <input name="name"/>
            </div>
            <div class="trackListUploadButtonContainer">
                <div class="trackListUploadButtonFile">
                    <input name="file" type="file" />
                </div>
                <div class="trackListUploadButtonSubmit">
                    <button formaction="/">Upload</button>
                </div>
            </div>
        </div>
        <div th:if="${uploadStatus}" class="trackListUploadErrorContainer">
            <a th:text="${uploadStatus}"/>
        </div>
    </form>
    <div class="trackListContent">
        <div class="track" th:each="track : ${tracks}">
            <div class="trackArtist">
                <a th:text="${track.artist}"/>
            </div>
            <div class="trackName">
                <a th:text="${track.name}"/>
            </div>
            <div class="trackActions">
                <i class="fa fa-lg fa-trash"></i>
                <i class="fa fa-lg fa-edit"></i>
                <a th:href="@{/radio/{id}/download(id=${track.id})}"><i class="fa fa-lg fa-download"></i></a>
            </div>
        </div>
    </div>
</div>
<!--<table>-->
    <!--<tr style="border-top: solid;" th:each="var : ${#vars.getVariableNames()}">-->
        <!--<td th:text="${var}"></td>-->
        <!--<td th:text="${#vars.getVariable(var)}"></td>-->
    <!--</tr>-->
    <!--&lt;!&ndash; Adding these manually because they're considered special.-->
         <!--see https://github.com/thymeleaf/thymeleaf/blob/thymeleaf-3.0.3.RELEASE/src/main/java/org/thymeleaf/context/WebEngineContext.java#L199-->
    <!--&ndash;&gt;-->
    <!--<tr style="border-top: solid;">-->
        <!--<td>param</td>-->
        <!--<td th:text="${#vars.getVariable('param')}"></td>-->
    <!--</tr>-->
    <!--<tr style="border-top: solid;">-->
        <!--<td>session</td>-->
        <!--<td th:text="${#vars.getVariable('session')}"></td>-->
    <!--</tr>-->
    <!--<tr style="border-top: solid;">-->
        <!--<td>application</td>-->
        <!--<td th:text="${#vars.getVariable('application')}"></td>-->
    <!--</tr>-->
<!--</table>-->
</body>
</html>